<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Book Exchange</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% include '/components/header.html' %}
    <main>
        <section>
            <h2>About Lit Link</h2>
            <p>Lit Link is designed to help book enthusiasts share and discuss their favorite books. Our goal is to create a community where people can exchange books and share their thoughts and reviews. Join us and discover a world of literature.</p>
        </section>
    </main>
    {% include '/components/footer.html' %}
</body>
</html>
