<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% include '/components/header.html' %}
    {% if session.get("username") == None %}
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="Enter your username">
            <br>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Enter your password">
            <br>
            <input id="submit" type="submit" value="Login">
        </form>
    {% else %}
       {{session.get("username")}}
        <p>You are already logged in.</p>
        <a href="/"><button>Go to Home</button></a>
    {% endif %}
    {% include '/components/footer.html' %}
</body>
</html>
